<h1>note</h1>



<p>Find me in app/views/users/show.html.erb</p>
<form method="post">
  <textarea id="summernote" name="editordata"></textarea>
</form>
<script>
$(document).ready(function() {
  $('#summernote').summernote();
});
</script>
