<h1>note</h1>


<%= @small_category.title %>
<%= @small_category.note %>
<textarea id="summernote('disable')" name="small_category[note]"></textarea>




    <%= link_to 'edit',  edit_small_category_path(@small_category), class: "btn btn-primary col-xs-12" %>
    <%= link_to 'delete',  small_category_path(@small_category), method:  :delete, data: {confirm: "削除しますか？"}, class: "btn btn-primary col-xs-12" %>
