<% if small_category.star_by?(small_category) %>

    <%= link_to small_category_stars_path(small_category), method: :delete, remote: true do %>
     <p class="star">★</p>
    <% end %>

    <% else %>
    <%= link_to small_category_stars_path(small_category), method: :post, remote: true do %>
     <p class="no_star">☆</p>
    <% end %>

<% end %>
