<h1>Users#show</h1>

<div class="container-fluid">
  <div class="row">
     <div class="col-md-3">

<div><%= @user.name %></div>

<%= link_to '大カテゴリ一覧', user_large_categories_path(@user, @large_category), class: "btn btn-primary col-xs-12" %>

<%= link_to '新規ノート', new_large_category_small_category_path(:large_category_id), class: "btn btn-primary col-xs-12" %>

<%= link_to 'ToDo', new_todo_path, class: "btn btn-primary col-xs-12" %>






