<h1>LargeCategory#index</h1>



<div class="card" style="width: 18rem;">
  <div class="card-header">
    <%= large_category.genre.name %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= large_category.problem %></li>
    <li class="list-group-item"><%= large_category.solution %></li>
  </ul>
</div>



