<!--about-->

    <% if user_signed_in? %>
      <%= link_to 'Homeへ戻る',  user_path(current_user), class: "link far fa-arrow-alt-circle-left" %>
    <% else %>
      <%= link_to 'Topへ戻る',  root_path, class: "link far fa-arrow-alt-circle-left" %>
    <% end %>

    <div class="card shadow-lg mx-auto" style="width:60%; margin:90px; padding-bottom:50px;">

        <div class="text-center">
          <i class="fab fa-suse fa-6x hover"></i>
          <p style="font-size:20px; margin-top:60px; background-color:#FFC0CB;"><b>デバッグ帳でエラー解決の「コツ」や「対処法」を楽しく身につけましょう！</b></p>
          <p style="margin:50px;">
           <p>デバッグはプログラミング初学者にとって最初の関門！</p><br>
           <p>その場しのぎになりがちなエラー解決を、</p><br>
           <p>記録、活用することでプログラミング初学者のデバッグ力向上をサポートするサイトです。</p>
          </p>
        </div>
        <div class="card mx-auto" style="width:80%; margin-top:30px;">
          <div class="about-heading"><h5 style="border-bottom: 2px solid #6495ED;"><i class="fas fa-check-circle"></i>デバッグ帳</h5>
            <p>
              <i class="far fa-hand-point-right"></i>カテゴリーを決めましょう<br>
              <i class="far fa-hand-point-right"></i>カテゴリーごとにノートを書きましょう<br>
            </p>
          </div>
          <div class="about-heading"><h5 style="border-bottom: 2px solid #6495ED;"><i class="fas fa-check-circle"></i>まとめてポイlist</h5>
            <p>
              <i class="far fa-hand-point-right"></i>デバッグ内容をまとめるために、メモしておきましょう<br>
              <i class="far fa-hand-point-right"></i>まとめ終わったらゴミ箱にドラッグ＆ドロップ
            </p>
          </div>
          <div class="about-heading"><h5 style="border-bottom: 2px solid #6495ED;"><i class="fas fa-check-circle"></i>検索する</h5>
            <p>
              <i class="far fa-hand-point-right"></i>作成したデバッグ帳を検索しましょう<br>
              <i class="far fa-hand-point-right"></i>「言語ジャンル」、「問題・原因」、「解決・詳細」、「ノートのタイトル」から検索できます
            </p>
          </div>
        </div>

    </div>