

      <i class="fab fa-suse fa-5x hover"></i>


      <div class="card mx-auto" style="width:60%;">
        <div class="card-title text-center">
        　 <%=  image_tag('logo (4).jpg') %>
        　 <p style="font-size:30px;"><strong>使い方</strong></p>
      　</div>

        <div class="card-body" style="margin:0 auto;">
      　　　<p>目次</p>
      　　　<a href="#my-database">1. myデータベース</a><br>
      　　　<a href="#todo-list">2. まとめてポイlist</a><br>
      　　　<a href="#edit-user">3. ユーザー編集</a><br>
      　　　<a href="#search">4. 検索する</a><br>
        </div>
      </div>



      <div class="card mx-auto" style="width:60%; margin-top:200px;">
        <div class="card-title text-center">
    　   　<a id="my-database" style="font-size:20px;"></a><br>
        </div>

      <div class="card-body" style="margin-top:30px;">
        <p>---------------------</p>
        <p><strong>① myデータベース</strong></p>
        <p>---------------------</p>
  　　　　<p>デバッグデータを保存するとき、言語をセレクトボタンで選ぶ</p>
  　　　　<p>問題と解決方法を入力する</p>
  　　　　<p>ノートに今回のデバッグをまとめる</p>
  　　　　<p>再び同じようなデバッグをする時や、さらに良い解決方法が見つかった時などにノートを書いていく</p>
  　　　　<p>積み重ねることで自分用のデバッグ帳が出来上がる</p>

  　　　　<p>同じエラーでも問題の箇所や、解決方法が異なることがあります</p>
  　　　　<p>それらを分類することで、頭の中を整理します</p>
  　　　　<p>後からエラーが起きた時に問題を細分化して考えることができます</p>

  　　　　<p>言語・問題（原因）・解決方法に分けて整理することで原因を細分化して考えられます</p>
  　　　　　<p>一覧に言語・問題（原因）・解決方法を表示することで一眼で中身を把握でき、手がかりを見つけやすく、検索がしやすい</p>
  　　　　　<p>デバッグの考え方の紐付けにもなる</p>
      </div>
    </div>


    <div class="card mx-auto" style="width:60%;">
         <div class="card-title text-center" style="margin-top:10px;">
      　    <a id="todo-list" style="font-size:20px;"></a><br>
    　    </div>

      <div class="card-body" style="margin-top:30px;">
        <p>---------------------</p>
        <p><strong>② まとめてポイlist</strong></p>
        <p>---------------------</p>
    　　<p>デバッグの際、まとめている暇なんてないと思う時がある</p>
    　　　<p>そんな時にサッとメモに残しておいて時間がある時にまとめてみる</p>
    　　　<p>新規入力フォームからあとでまとめる項目を入れておく</p>
    　　　<p>まとめ終わったらゴミ箱へ（ドラッグ＆ドロップ）</p>
      </div>
    </div>

    <div class="card mx-auto" style="width:60%;">
         <div class="card-title text-center" style="margin-top:10px;">
      　    <a id="edit-user" style="font-size:20px;"></a><br>
    　    </div>

      <div class="card-body" style="margin-top:30px;">
        <p>---------------------</p>
        <p><strong>③ ユーザー編集</strong></p>
        <p>---------------------</p>
    　　<p>お気に入りの写真を貼ってください</p>
　　　　<p>好きな言葉や自分へのエールを書いてください</p>
　　　　<p>-</p>
　　　　<p>-</p>
      </div>
    </div>


    <div class="card mx-auto" style="width:60%;">
         <div class="card-title text-center" style="margin-top:10px;">
      　    <a id="search" style="font-size:20px;"></a><br>
    　    </div>

      <div class="card-body" style="margin-top:30px;">
        <p>---------------------</p>
        <p><strong>④ 検索する</strong></p>
        <p>---------------------</p>
    　　<p>デバッグの積み重ねでできたデータから必要な項目を検索してください</p>
　　　  <p>検索ワードは、言語の種類でも問題・解決方法からでも検索ができます</p>
　　　  <p>-</p>
　　　　<p>-</p>
      </div>
    </div>


