<!--top-->

<div class="justify-content" style="background-color: #ffffff;">
    

<div class="top-logo"></div>

<div class="col-md-12 text-center" style="margin-top:-140px;">
  <%= link_to 'ログイン', new_user_session_path, class:"btn_design" %>
　<%= link_to '新規登録', new_user_registration_path, class:"btn_design" %>
</div>

<i class="fab fa-suse fa-10x hover"></i>

</div>
