<h1>homes#top</h1>


<div class="top_note_image">
</div>

   <div class="col-md-2">
     <%= link_to 'Log in', new_user_session_path, class:"btn btn-primary btn-sm btn-block"  %>
     <%= link_to 'Sign up', new_user_registration_path, class:"btn btn-success btn-sm btn-block" %>
     
   </div>