<!--top-->

<div class="justify-content" style="background-color: #ffffff;">
    <div class="top__logo"></div>
    <div class="col-md-12 text-center" style="margin-top:-180px;">
      <%= link_to 'ログイン', new_user_session_path, class:"btn_design" %>
      <%= link_to '新規登録', new_user_registration_path, class:"btn_design" %><br>
    </div>
    <div class="col-md-12 text-center" style="margin-top:40px;">
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post%>
    </div>
    <i class="fab fa-suse fa-10x hover" style="margin-bottom:40px;"></i>
</div>
