/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.top__logo{
  height: 100vh;
  background-image: image-url('top-logo.png');
  background-position: center;
  background-repeat: no-repeat;
	background-size: 35% auto;
	margin-top: -214px;
}

body{
  width: 100%;
  background-color: #17a2b8;
  font-family: "Hiragino Maru Gothic ProN";
}

header{
  border-bottom: 2rem solid #FFFF00;
  display: inline-block;
  padding: 2rem;
  position: relative;
}

/* ドラッグ＆ドロップゴミ箱 */
.trash-box{
  position: -webkit-sticky;
  position: sticky;
  top: 7rem;
  text-align: left;
  margin-left: 80px;
}

/* topボタン */
.btn_design {
  font-size: 30px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  text-align: center;
  font-weight: bold;
  padding: 20px 10px;
  background-color: #ffffff;
  color: #000000;
  border: #000000 solid 3px;
  border-radius: 10px;
  }

/* ボタンマウスオーバー時 */
.btn_design:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
 }

/* カメレオン */
 .hover:hover{
  color: lightseagreen;
  cursor: pointer;
 }

.link{
  text-decoration: none;
  color: white;
}

#large_category__index{
  position: -webkit-sticky;
  position: sticky;
  top: 7.5rem;
}

// /*スマホ用のcssを記述*/
// @media screen and (max-width:639px) {
// .top__logo{
//   background-size: 10rem auto;
// }
// body{
//   font-size: 1rem;
// }
// }

// /* 600px〜959px：タブレット*/
// @media screen and (min-width:600px) and (max-width:959px) {
// .top__logo{
//   background-size: 10rem auto;
// }
// body{
//   font-size: 1.5rem;
// }
// }

// /* 960px〜1279px：小型PC*/
// @media screen and (min-width:960px) {
// .top__logo{
//   background-size: 20rem auto;
// }
// body{
//   font-size: 1rem;
// }
// }

