// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-note_image{
  height: 100vh;
  // width: %;
  background-image: url('top-note_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
	background-size: 40% auto;

}